.App {
  text-align: center;
  background-color: lightgray;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.mobileHeaderNavbar {
  display: none;
}
.websiteTitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.editTabType {
  width: 80%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* //MEDIA  */

@media (max-width: 600px) {
  .headerNavWide {
    display: none;
  }
  .mobileHeaderNavbar {
    display: block;
  }
  .websiteTitle {
    line-height: 35px;
    font-size: 32px;
  }
  .editTabType {
    width: 50%;
  }
}
